@* <!-- webform.html -->
<form action="/submit" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    
    <button type="submit">Submit</button>
</form> *@


@model SecurityFinalProject.Models.UserModel

@using (Html.BeginForm("Create", "UserForm", FormMethod.Post))
{
    <label for="username">Username:</label>
    @Html.TextBoxFor(m => m.Username)

    <label for="email">Email:</label>
    @Html.TextBoxFor(m => m.Email)

    <button type="submit">Submit</button>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}